*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main{
    position: relative;
    height: 100vh;
    width: 100%;
}

.title-text{
    text-align: center;
    padding-bottom: 70px;
    padding-top: 70px;
}

.title-text p{
    margin: auto;
    font-size: 20px;
    color: #002396;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#002396, white);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
   border-top-left-radius: 35px; 
   border-bottom-right-radius: 35px;
}

.title-text h1{
    font-size: 50px;
    font-weight: lighter;
}

.section{
    position: relative;
    height: 100%;
    width: 90%;
    margin: auto;
    padding: 45px 0;
    display: grid;
    grid-template-columns: 800px 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 30px 50px 
 }

 .section .img img{
     border-radius: 10px;
   width: 100%;
   box-shadow: 0 10px 20px 3px #0023967a ; 
 }

 .section .img-text{
    border-radius: 10px;
    box-shadow: 0 10px 20px 3px #0023967a ; 
 }

 .topic h1{
    position: relative;
    height: auto;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    margin: 5% 0 5% 0;
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    letter-spacing: 2px;
    color: #002396;
    border-left: 5px solid #002396;
    border-right: 5px solid #002396;
    background: rgba(0, 0, 0, 0.05);
 }

 #short{
    text-decoration: none;
    color: #002396;
padding: 20px;
background: rgba(0, 0, 0, 0.05);
 }

 .social-links{
    text-align: center;
    background: rgba(0, 0, 0, 0.05)
}

.social-links .fa{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #002396 ;
    margin: 40px 5px 0;
    cursor: pointer;
    color: #002396;
    transition: 0.5s;
}

.social-links .fa:hover{
    background: #002396;
    color: #fff;
    transform: translateY(-7px);
}


.social-links p{
    font-size: 12px;
    margin-top: 20px;
}

 